
body {
    background-color: #f9fafb;
}

.primary-header {
    /* border: 2px solid plum; */
    /* background-color: #f3f4f6; */
    padding: 16px;
    position: relative;

    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 50px;
    height: 70px;
    border-radius: 5px;
}

/* Hamburger */

button {
    margin: 0;
    padding: 4px;
    background: none;
    border: none;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    /* z-index: 99; */
}

/* button {
    all: unset;
} */

.nav-hamburger-button-root {
    display: inline-flex;
    align-items: center;
    /* padding: 4px; */
    /* z-index: 99; */
}

.nav-hamburger-button-box {
    position: relative;
    width: 20px;
    height: 15px;
    z-index: 99;
}

.nav-hamburger-button-inner {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000;

    position: absolute;
    top: 50%;
    margin-top: -.5px;
}

.nav-hamburger-button-inner::before, .nav-hamburger-button-inner::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000;

    position: absolute;
}

.nav-hamburger-button-inner::before {
    top: -7px;
}

.nav-hamburger-button-inner::after {
    bottom: -7px;
}

/* Cross */

.nav-hamburger-button-inner.isExpanded::before {
    background-color: #e7131a;
    top: 0;
    opacity: 0;
}

.nav-hamburger-button-inner.isExpanded {
    background-color: #e7131a;
    transform: rotate(225deg);
}

.nav-hamburger-button-inner.isExpanded::after {
    background-color: #e7131a;
    bottom: 0;
    transform: rotate(-90deg);
}

@media (min-width: 600px) { 

    /* Precious -- Hover over pseudo elements like ::after and ::before */

    .nav-hamburger-button-inner.isExpanded.isHovered {
        background-color: #f87171;
    }

    .nav-hamburger-button-inner.isExpanded.isHovered::after {
        background-color: #f87171;
    }
}

/* .primary-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: 0.5s;
} */

/* .primary-navigation.active {
    transform: translateX(0);
}  */

/* .primary-navigation {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
} */

nav {
    /* border: 2px solid orange; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: 0.5s;
}

nav.active {
    transform: translateX(0);
} 

.primary-navigation {
    /* border: 2px solid powderblue; */

    width: 100vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none; 
}

ul li {
    /* border: 2px solid lightblue; */
    padding: 8px;
}

ul li a {
    text-decoration: none;
}

@media (min-width: 600px) {

    .primary-navigation {
        border: 2px solid powderblue;
    
        width: 20vw;
        height: 15vh;
    
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end; */
    
        position: absolute;
        top: 10vh;
        left: 75vw;
    }
}

