
/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap'); */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f9fafb;
    overflow-x: hidden;
}

.primary-header {
    /* border: 2px solid plum; */
    /* background-color: #f3f4f6; */
    padding: 16px;
    position: relative;

    display: flex;
    justify-content: space-between;
}

/* .logo img {
    width: 70px;
    height: 100px;
    border-radius: 5px;
} */

/* .logo span {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #1f2937;
    letter-spacing: .5px;
} */

/* Hamburger */

button {
    /* display: block; */
    margin: 0;
    padding: 4px;
    background: none;
    border: none;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    /* z-index: 99; */
    height: 30px;

    align-self: center;
}

/* button {
    all: unset;
} */

.nav-hamburger-button-root {
    display: inline-flex;
    align-items: center;
    /* padding: 4px; */
    /* z-index: 99; */
}

.nav-hamburger-button-box {
    position: relative;
    width: 20px;
    height: 15px;
    z-index: 99;
}

.nav-hamburger-button-inner {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000;

    position: absolute;
    top: 50%;
    margin-top: -.5px;
}

.nav-hamburger-button-inner::before, .nav-hamburger-button-inner::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000;

    position: absolute;
}

.nav-hamburger-button-inner::before {
    top: -7px;
}

.nav-hamburger-button-inner::after {
    bottom: -7px;
}

/* Cross */

.nav-hamburger-button-inner.isExpanded::before {
    background-color: #e7131a;
    top: 0;
    opacity: 0;
}

.nav-hamburger-button-inner.isExpanded {
    background-color: #e7131a;
    transform: rotate(225deg);
}

.nav-hamburger-button-inner.isExpanded::after {
    background-color: #e7131a;
    bottom: 0;
    transform: rotate(-90deg);
}

@media (min-width: 588px) { 

    /* Precious -- Hover over pseudo elements like ::after and ::before */

    .nav-hamburger-button-inner.isHovered {
        background-color: #6b7280;
    }

    .nav-hamburger-button-inner.isHovered::before {
        background-color: #6b7280;
    }
    .nav-hamburger-button-inner.isHovered::after {
        background-color: #6b7280;
    }


    .nav-hamburger-button-inner.isExpanded.isHovered {
        background-color: #f87171;
    }

    .nav-hamburger-button-inner.isExpanded.isHovered::after {
        background-color: #f87171;
    }

    .logo br {
        display: none;
    }

    .logo span {
        margin-inline: .25rem;
    }
}

/* .primary-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: 0.5s;
} */

/* .primary-navigation.active {
    transform: translateX(0);
}  */

/* .primary-navigation {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
} */

/* Social Icons */

.social-icons {
    flex-basis: 20%;
}

.social-icons ul {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-around;
}

i {
    /* border: 2px solid green; */
    /* font-size: 1.6rem; */
    /* font-weight: 900; */
    /* color: #f8fafc; */
    background-color: transparent;
}

.social-icons ul li a {
    /* border: 2px solid plum; */
    /* font-family: "Lato", sans-serif; */
    font-size: 24px;
    /* font-weight: 600; */
    color: #374151;
    /* align-self: flex-end; */
    /* letter-spacing: 1px; */
    /* text-decoration: none; */
}

ul li a:hover, i:hover {
    /* color: #4b5563; */
    color: #6b7280;
}

nav {
    /* border: 2px solid orange; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}

nav.active {
    transform: translateX(0);
} 

.primary-navigation {
    /* border: 2px solid powderblue; */

    width: 100vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none; 
}

ul li {
    /* border: 2px solid lightblue; */
    padding: 8px;
}

ul li a {
    text-decoration: none;
}

@media (min-width: 600px) {

    .primary-navigation {
        border: 2px solid powderblue;
    
        width: 20vw;
        height: 15vh;
    
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end; */
    
        position: absolute;
        top: 10vh;
        left: 75vw;
    }
}

main div .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* line-height: 28px; */
}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    /* line-height: 17px; */
}
